nav#context-menu {
    position: absolute;
    min-width: 210px;
    height: fit-content;
    padding: 6px 0;
    background-color: #fff;
    z-index: 100;
    border-radius: 10px;
    font-size: 90%;
    box-shadow: -2px 2px 6px #00000024;
}

.cm-item {
    width: auto;
    height: fit-content;
    padding: 7px 24px;
    cursor: pointer;
}

.cm-item:hover {
    background-color: #ededed;
}