html,
body {
    margin: 0;
    overflow: hidden;
}

div#col {
    border: 1px solid #808080;
}

.obstacle {
    background-color: black;
    border: none !important;
}

div#root.root {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

div {
    /* transition: 0.4s; */
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
}
