html, body {
    margin: 0;
    overflow: hidden;
}

div#col {
    border: 1px solid;
}

.obstacle {
    background-color: black;
}

div#root.root {
    position: absolute;
    margin: auto;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
}

div {
    transition: 0.4s;
    background-size: cover;
}